{
  "presets": ["@kiwicom/babel-preset-kiwicom", [
    "next/babel",
      {
        "transform-runtime": {
          "useESModules": false
        }
      }
  ]],
  "plugins": [["styled-components", { "ssr": true }]]
}
